<div class="center-card">
    <!-- sensor status  -->
    <!-- <div *ngIf="sensorStatus" class="alert alert-success text-center" role="alert">
        Connection : <b>ONLINE</b>
        <button type="button" class="btn btn-secondary ms-4" (click)="refresh()">Refresh</button>
    </div> -->
    <div class="alert text-center align-middle shadow" role="alert" 
        [ngClass]="sensorStatus ? 'alert-success' : 'alert-danger'">
        <span *ngIf="loading" class="spinner-border align-middle me-2" role="status"></span>
        Backend Connection : <b>{{sensorStatus ? 'ONLINE': 'OFFLINE'}}</b>         
        <div>
            <input class='mt-2' type="text" [(ngModel)]="backendIp">
            <button type="button" class="btn btn-secondary ms-2" (click)="refresh()">Refresh</button>
        </div>
        <!-- <button type="button" class="btn btn-secondary ms-2" (click)="refresh()">Auto Refresh</button> -->

    </div>
</div>
<div class="card p-2 center-card align-middle text-center ">
    <div  class='align-middle'>
        Last
        <input class='mt-2' type="number" [(ngModel)]="filter"  style="width:50px">
        Minute
        <button type="button" class="btn btn-secondary ms-2" (click)="refresh()">Filter</button>
        <div>
            (0 to call all data)
        </div>
    </div>
</div>
<div id="highchart-sensor"></div>


